html, body {
  width: 200px;
  text-align: center;
  font-family: Comic Sans MS;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.pbjt:hover {
  background-color: #CFF2F2;
}

.pbjt {
  background-color: #E5F2F2;
}

.exit {
  background-color: #FBFBC9;
}

.exit:hover {
  background-color: #EAEA9D;
}

audio { 
   display:none;
}