<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="choose_pbj.css"/>
  </head>

<body>
	<audio id="pbjt" controls>
		<source src="pbjt.mp3" type="audio/mp3">
	</audio> 
  <div id="popup-content">
    <div style="font-weight:bold"> What time is it?</div>
    <div class="pbjt button">It's Peanut Butter Jelly Time!</div>
    <div class="exit button">It's right now!</div>
  </div>
  <div id="error-content" class="hidden">
    <p>Can't peanut butter jellify this web page.</p><p>Try a different page.</p>
  </div>
  <script src="choose_pbj.js"></script>
</body>

</html>